
 
 footer {
    
   position: relative;
    min-height: 100%; 
    width: 100%;
    color:black;
    text-align: center;
   
    margin-top:570px;
 }

 .card-body{
   background-color:#e3f2fd;
 }

 .nav-link {
    width:150px;
    height:auto;
 }

 .container-fluid{
   min-height: 100%;
    display: flex;
    flex-direction: row;
  
   
 }
 