
 .container{
   
 }

 .img-fluid{
  height:70px;
 }

 footer {
    
   position: relative;
    min-height: 100%; 
    width: 100%;
    color:black;
    text-align: center;
   
    margin-top:700px;
 }

 .card-body{
   background-color:unset;
 }

 .nav-link {
    width:150px;
    height:auto;
 }

 .container-fluid{
   min-height: 100%;
    display: flex;
    flex-direction: row;
  
   
 }

 .nav-link{
   color:white;
   font-weight: bold;
 }

 .p{
   color:white;
 }

 .nav-item{
   text-align: center;
 }
 
 h6{
   color:white;
 }
